<!DOCTYPE html>

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="verb.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Greek</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </head>

<div id="app">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="noun-tab" data-bs-toggle="tab" data-bs-target="#noun-tab-pane" type="button" role="tab" aria-controls="noun-tab-pane" aria-selected="true">Сущест.</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="verb-tab" data-bs-toggle="tab" data-bs-target="#verb-tab-pane" type="button" role="tab" aria-controls="verb-tab-pane" aria-selected="false">Глаголы</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other-tab-pane" type="button" role="tab" aria-controls="other-tab-pane" aria-selected="false">Other</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="noun-tab-pane" role="tabpanel" aria-labelledby="noun-tab" tabindex="0">TBD</div>
  <div class="tab-pane fade" id="verb-tab-pane" role="tabpanel" aria-labelledby="verb-tab" tabindex="0"> 
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                General information
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <div class="container-sm">
                <h5>Перфектная и имперфектная формы</h5>
                <p>
                    Греческие глаголы обычно имеют два корня - перфектная (законченная) и имперфектная (незаконченная) формы. Перфектный корень обычно легко вывести из имперфектного: present tense: γράφω -> aorist: έγραψα.
                    Иногда также есть третий корень - перфектная форма в страдательном залоге. Все времена+спряжения+наклонения+залоги образуются из этих корней путем добавления суффиксов и окончаний по несложным правилам.
                </p>
                <h5>Сокращенные и несокращенные глаголы</h5>
                <p>
                    Сокращенные глаголы - это глаголы типа αγαπάω, у них есть сокращенная форма αγαπώ. От остальных они отличаются тем, что у них особые окончания настоящего времени, а также немного другие
                    окончания имперфекта и условного наклонения. Некоторые такие глаголы окончательно сократились и форма с -άω не употребляется (κινώ). Такие глаголы в настоящем времени часто спряжгаются похоже
                    на обычные (προσπαθώ), но ударение ставится по прежнему на последний слог!
                </p>
                <h5>Средний (возвратный) залог</h5>
                <p>В греческом как в русском есть все три залога (активный, средний, пассивный), но средний практически не отличается от пассивного. Тем не менее необходимо знать, что он есть. Во-первых,
                он таки отличается от пассивного в одном случае - императиве (κρατήσου vs να κρατηθείς - держись vs сдержись кем-то?). Во-вторых, некоторые глаголы не имеют активного/пассивного залога
                (σκέφτομαι) или их значение в среднем существенно отличается (βρίσκομαι).</p>
                <h5>Present</h5>
                <p>
                    Это базовая форма с имперфектным корнем: ανοίγ(ανοίγω). Используется для описания текущих и регулярных событий.
                    <table class="table">
                     <tbody>
                        <tr><td>ανοίγω</td><td>-ω -εις -ει -ουμε|ομε -ετε -ουν(ε)</td><td>ανοίγω ανοίγεις ανοίγει ανοίγουμε/ανοίγομε ανοίγετε ανοίγουν/ανοίγουνε</td></tr>
                        <tr><td>μιλάω/μιλώ</td><td>-(ά)ω -άς -ά(ει) -ουμε|άμε -άτε -άν(ε)|ούν(ε)</td><td>μιλάω/μιλώ μιλάς μιλά/μιλάει μιλούμε/μιλάμε μιλάτε μιλάν/μιλάνε/μιλούν/μιλούνε</td></tr>
                        <tr><td>ανησυχώ</td><td>-ώ -είς -εί -ούμε -είτε -ούν(ε)</td><td>ανησυχώ ανησυχείς ανησυχεί ανησυχούμε ανησυχείτε ανησυχούν/ανησυχούνε</td></tr>
                    </tbody>
                    </table>
                </p>
                <p>
                    В пассивном залоге корень остается, окончания меняются:
                    <table class="table">
                    <tbody>
                        <tr><td>ανοίγω</td><td>-ομαι -εσαι -εται -όμαστε -εστε/-όσαστε -ονται</td><td>ανοίγομαι ανοίγεσαι ανοίγεται ανοιγόμαστε ανοίγεστε/ανοιγόσαστε ανοίγονται</td></tr>
                        <tr><td>μιλάω/μιλώ</td><td>-ιέμαι -ιέσαι -ιέται -ιόμαστε -ιέστε/-ιόσαστε -ιούνται/-ιόνται</td><td>μιλιέμαι μιλιέσαι μιλιέται μιλιόμαστε μιλιέστε/μιλιόσαστε μιλιούνται/μιλιόνται</td></tr>
                        <tr><td>παρακαλώ</td><td>-ούμαι -είσαι -ιέται -ούμαστε -είστε -ούνται</td><td>παρακαλούμαι παρακαλείσαι παρακαλιέται παρακαλούμαστε παρακαλείστε παρακαλούνται</td></tr>
                    </tbody>
                    </table>
                </p>
                <h5>Past imperfect + perfect (aorist)</h5>
                <p>
                    Имперфект описывает длящееся/повторяющееся действие в прошлом (например, как фон для другого действия). Аорист - просто некое завершенное событие в прошлом, которое воспринимается как одно целое.
                    Оба времени образуются из своих корней (имперфектного и перфектного) следующим образом: берем корень и смещаем ударение влево в обычных глаголах имперфекта и всегда в аористе (ανοίγ/ανοίξ -> άνοιγ/άνοιξ).
                    Если нет гласной добавляем έ в начало: γράφ/γράψ -> έγραφ/έγραψ. Затем добавляем суффикс и окончание прошедшего времени (одно для всех). Замечание: έ может "добавляться" даже если формально
                    уже есть гласная. В этом случае она е-фицирует эту гласную. Это происходит на границе приставки и корня (περιγράφω -> περιέγραφα, υπογράφω -> υπέγραφα, διαγράφω -> διέγραφα), если это первая буква
                    (ελπίζω -> ήλπιζα) и в исключениях.
                    <table class="table table-striped">
                    <tbody>
                        <tr><td>έ<b>γραφ</b>α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>έγραφα έγραφες έγραφε γράφαμε γράφατε έγραφαν/γράφαν/γράφανε</td></tr>
                        <tr><td>έ<b>γραψ</b>α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>έγραψα έγραψες έγραψε γράψαμε γράψατε έγραψαν/γράψαν/γράψανε</td></tr>
                        <tr><td><b>μιλ</b>ούσ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>μιλούσα μιλούσες μιλούσε μιλούσαμε μιλούσατε μιλούσαν/μιλούσαν/μιλούσανε</td></tr>
                        <tr><td><b>μίλ</b>ησ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>μίλησα μίλησες μίλησε μιλήσαμε μιλήσατε μίλησαν/μιλήσαν/μιλήσανε</td></tr>
                        <tr><td><b>παρακαλ</b>ούσ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>παρακαλούσα παρακαλούσες παρακαλούσε παρακαλούσαμε παρακαλούσατε παρακαλούσαν/παρακαλούσανε</td></tr>
                        <tr><td><b>παρακάλ</b>εσ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>παρακάλεσα παρακάλεσες παρακάλεσε παρακαλέσαμε παρακαλέσατε παρακαλέσαν/παρακαλέσανε</td></tr>
                    </tbody>
                    </table>
                </p>
                <p>
                    В пассивном залоге имперфект приобретает длинные окончания, схожие с окончаниями настоящего времени, и меняются ударения (по правилу трех слогов это неизбежно). Пассив аориста же
                    приобретает суффикс, а окончания остаются как в активном залоге. Ударение возвращается на место и подчиняется правилу 3 слогов. Как видите, суффиксы и окончания немного отличаются
                    от глагола к глаголу, но очень редко сильно.
                    <table class="table table-striped">
                    <tbody>
                        <tr><td><b>γραφ</b>όμουν</td><td>-όμουν -όσουν -όταν/-ότανε -όμαστε/-όμασταν -όσαστε/-όσασταν -ονταν/-όντανε</td><td>γραφόμουν γραφόσουν γραφόταν/γραφότανε γραφόμαστε/γραφόμασταν γραφόσαστε/γραφόσασταν γράφονταν/γραφόντανε</td></tr>
                        <tr><td><b>γράφ</b>τηκ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>γράφτηκα γράφτηκες γράφτηκε γραφτήκαμε γραφτήκατε γράφτηκαν/γραφτήκαν/γραφτήκανε</td></tr>
                        <tr><td><b>μιλ</b>ιόμουν</td><td>-ιόμουν -ιόσουν -ιόταν/-ιότανε -ιόμαστε/-ιόμασταν -ιόσαστε/-ιόσασταν -ιόνταν/-ιόντανε/-ιούνταν</td><td>μιλιόμουν μιλιόσουν μιλιόταν/μιλιότανε μιλιόμαστε/μιλιόμασταν μιλιόσαστε/μιλιόσασταν μιλιόνταν/μιλιόντανε/μιλιούνταν</td></tr>
                        <tr><td><b>μιλ</b>ήθηκ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>μιλήθηκα μιλήθηκες μιλήθηκε μιληθήκαμε μιληθήκατε μιλήθηκαν/μιληθήκαν/μιληθήκανε</td></tr>
                        <tr><td><b>παρακαλ</b>ούμουν</td><td>-ούμουν N/A -ούνταν -ούμαστε N/A -ούνταν</td><td>παρακαλούμουν N/A παρακαλούνταν παρακαλούμαστε N/A παρακαλούνταν</td></tr>
                        <tr><td><b>παρακλ</b>ήθηκ-α</td><td>-α -ες -ε -αμε -ατε -αν/-ανε</td><td>παρακλήθηκα παρακλήθηκες παρακλήθηκε παρακληθήκαμε παρακληθήκατε παρακληθήκαν/παρακληθήκανε</td></tr>
                    </tbody>
                    </table>
                </p>
                <h5>Future + Subjunctive</h5>
                <p>
                    Как обычно перфектная форма обозначает одиночное действие, а имперфектная повторяющееся или длящееся действие. Для будущего используется частица θα, для условного να. Будущее - это
                    самостоятельное время, условное же чаще всего присоединяется к другому глаголу или даже предложению и выражает гораздо больше сомнения, что действие произойдет.
                    Времена образуются по схеме: θα/να + корень (перфект/имперфект) + окончания настоящего времени. В имперфекте получается настоящее время. θα(να) ανοίγω/θα(να) ανοίξω.
                </p>
                <p>
                    Пассивный залог имперфекта строится аналогично на основе пассива настоящего времени. Пассив перфекта использует корень перфекта пассивного залога + особые окончания, похожие
                    на окончания сокращенных глаголов в настоящем времени. θα(να) ανοίγομαι/θα(να) ανοιχτώ.
                </p>
                <h5>Future + Subjunctive - дополнение</h5>
                <p>
                    После θα/να можно поставить глагол в любом обычном времени (без θα/να). Такое выражение может выражать условие, сомнение, преположение и т.п. Принцип
                    примерно такой: θα έγραφα (я бы писал), θα έγραψα (я бы написал), θα έχω γράψει (напишу к какому-то моменту), θα είχα γράψει (я бы написал к этому моменту).
                </p>
            </div>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Спряжения
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <div class="container-sm">
                <form @submit.prevent>
                    <div class="row mb-3">
                        <label for="inputVerb" class="col-sm-2 col-form-label">Глагол(англ/греч/транс/рег выражение)</label>
                        <div class="col-sm-3">
                            <input v-model="verbInput" type="text" class="form-control" id="inputVerb" @keyup.enter='engTense = "eng"; vconj = calcConj(verbInput,tenseInput,voiceInput)'>
                        </div>
                        <div class="col-sm">Транслитерация: α:a ά:a β:v γ:g δ:d ε:e έ:e ζ:z η:i ή:i θ:th ι:i ί:i κ:k λ:l μ:m ν:n ξ:ks ο:o ό:o π:p ρ:r σ:s ς:s τ:t υ:u ύ:u φ:f χ:h ψ:ps ω:o ώ:o</div>
                    </div>
                    <div class="row mb-3">
                        <label for="tense" class="col-sm-2 col-form-label">Время</label>
                        <div class="col-sm-3">
                            <select v-model="tenseInput" class="form-select" aria-label="Default select example">
                                <option selected value="present">Present</option>
                                <option value="aorist">Aorist</option>
                                <option value="imperfect">Imperfect</option>
                                <option value="future">Future</option>
                                <option value="future_imperfect">Future imperfect</option>
                            </select>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Залог</legend>
                        <div class="col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="voice1" value="active" @input="event => voiceInput = event.target.value" checked>
                                <label class="form-check-label" for="voice1">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="voice2" value="passive" @input="event => voiceInput = event.target.value">
                                <label class="form-check-label" for="voice2">
                                    Passive
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" @click='engTense = "eng"; vconj = calcConj(verbInput,tenseInput,voiceInput)'>Вычислить</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">{{engTense}}</th>
                        <th scope="col">1s</th>
                        <th scope="col">2s</th>
                        <th scope="col">3s</th>
                        <th scope="col">1p</th>
                        <th scope="col">2p</th>
                        <th scope="col">3p</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="verb in vconj">
                            <td v-for="v in verb">{{v}} <a href="#" v-if='v == verb[0] && engTense == "eng"' @click='engTense = "tense"; vconj = calcTenses(v)'>⏎</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Тренировка
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container-sm">
                <form @submit.prevent>
                    <div class="row mb-3">
                        <label for="trainTense" class="col-sm-2 col-form-label">Времена:</label>
                        <div class="col-sm-3">
                            <select class="form-select" multiple aria-label="trainTense" size="8">
                                <option selected value="present active">Present</option>
                                <option selected value="imperfect active">Imperfect</option>
                                <option selected value="aorist active">Aorist</option>
                                <option selected value="future active">Future</option>
                                <option selected value="present passive">Present passive</option>
                                <option selected value="imperfect passive">Imperfect passive</option>
                                <option selected value="aorist passive">Aorist passive</option>
                                <option selected value="future passive">Future passive</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            Рекомендуется тренировать все времена сразу, поскольку реально они отличаются только в трех базовых корнях. Все остальное - это сдвиг ударения и немногочисленные окончания.
                            Сложные перфектные времена, условное наклонение и т.п. не добавлены, поскольку они строятся по очень простым правилам из этих времен.
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="trainEng">
                            <label class="form-check-label" for="checkDefault">
                                Показывать только английское слово
                            </label>
                        </div>
                        </div>
                        <div class="col-sm">
                            Если слово не на греческом, то нужно вспомнить его греческий аналог и написание.
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Включить глаголы:</legend>
                        <div class="col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios2" id="verbs1" value="all" @input="event => inclVerbs = event.target.value" checked>
                                <label class="form-check-label" for="verbs1">
                                    Все
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios2" id="verbs2" value="some" @input="event => inclVerbs = event.target.value">
                                <label class="form-check-label" for="verbs2">
                                    Исключения и необычные
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios2" id="verbs3" value="irr" @input="event => inclVerbs = event.target.value">
                                <label class="form-check-label" for="verbs3">
                                    Только исключения
                                </label>
                            </div>
                        </div>
                        <div class="col-sm">Начните с исключений и двигайтесь вверх. В исключения входят совсем неправильные глаголы. В необычные входят многие возвратные и те,
                            которые меняются необычно хотя бы в одном времени.</div>
                    </fieldset>
                </form>
                <div class="row mb-3">
                    <p>
                        Вам будет показан глагол в первом лице настоящего времени или его перевод и время, в котором его нужно проспрягать. Назовите все 6 форм, представьте их написание и убедитесь,
                        что все буквы (особенно "и" и "о") правильные. Глаголы могут иметь несколько вариантов, я думаю необязательно называть их все - решайте сами. Кликните на глагол. Вы увидите
                        правильные спряжения. Если вы считаете, что правы кликните левой кнопкой на глаголе. Если нет, то правой. Каждый глагол+время будут показаны один раз по умолчанию. В случае ошибки,
                        число показов удваивается. Я не прошу вводить глаголы для проверки, поскольку спряжения - это очень механический навык, который лучше тренировать показом как можно большего
                        числа вариантов за единицу времени. Проверить в уме в разы быстрее, чем писать/вводить. Совсем стандартные глаголы будут показываться случайно - один из группы.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="other-tab-pane" role="tabpanel" aria-labelledby="other-tab" tabindex="0">TBD2</div>
</div>

</div>

<script>
  function calcConj(v,tense,voice) {
    let res = [];
    for (let x in vgrk) { if (vgrk[x].match(v)) {let r = [veng[x]].concat(conj(vgrk[x],tense,voice)); if (r.length > 1) res.push(r)}}
    if (v.length > 0) {for (let x in veng) { if (veng[x].match(v) || vtr[x].match(v)) {let r = [veng[x]].concat(conj(veng[x],tense,voice)); if (r.length > 1) res.push(r)}}}
    return res
  }
  function calcTenses(v) {
    let t = ["present","imperfect","aorist","future","future_imperfect"];
    let res = [];
    for (let x of t) {let r = conj(v,x,"active"); if (r.length > 0) {res.push([x].concat(r))}}
    for (let x of t) {let r = conj(v,x,"passive"); if (r.length > 0) {res.push([x.concat(" passive")].concat(r))}}
    return res;
  }
  trMapE = ["a","a'","v","g","d","e","e'","z","h","h'","th","i","i'","k","l","m","n","ks","o","o'","p","r","s","s","t","u","u'","f","x","ps","w","w'"];
  trMapG = "αάβγδεέζηήθιίκλμνξοόπρσςτυύφχψωώ";
  gr2tr = (x) => {let res = ""; for (let l of x) { res = res + trMapE[trMapG.indexOf(l)]}; return res}
  trMapE2 = ["a","a","v","g","d","e","e","z","i","i","th","i","i","k","l","m","n","ks","o","o","p","r","s","s","t","u","u","f","h","ps","o","o"];
  gr2tr2 = (x) => {let res = ""; for (let l of x) { res = res + trMapE2[trMapG.indexOf(l)]}; return res}
  vtr = vgrk.map(x => gr2tr2(x));
  //tr2gr = (x) => {let res = ""; for (let l of x) { res = res + trMapG[trMapE.indexOf(l)]}; if (res[res.length-1] == "σ") {res = res.slice(0,res.length-1); return res + "ς"}; return res}
  const { createApp, ref } = Vue

  createApp({
    setup() {
      const message = ref('Hello vue!')
      const vconj = ref([])
      const verbInput = ref("")
      const tenseInput = ref("present")
      const voiceInput = ref("active")
      const engTense = ref("eng")
      return {
        message, vconj, calcConj, calcTenses, verbInput, tenseInput, voiceInput, engTense
      }
    }
  }).mount('#app')
</script>